body{
    font-family: 'Poppins', sans-serif;
}

/* influencer------------------
------------------- */
main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #AAAAAA;
}

.container{
    width: 1440px;
    background-color: #FFFFFF;
}
.page-title{
    margin-left: 120px;
    margin-top: 70px;
    color: #3A3A3A;
}
.influence{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 205px;
    align-items: center;
    justify-content: center;
}
.planing{
    width: 582px;
    height: 270px;
    color: #3A3A3A;
    margin-left: 120px;
}
.planing h1{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 12px;
}
.planing p{
    font-size: 16px;
    font-weight: 600;
}
.planing .button{
    background-color: #E02C6D;
    color: aliceblue;
    padding: 8px 24px 8px 24px;
    border-radius: 20px;
    width: 140px;
    font-weight: 500;
}
.camara img{
    margin-top: 67px;
    width: 440px;
    height: 414px;
    /* display: none; */
}
.logos{
    border: 1px #dddddd solid;
    margin-top: 100px;
    margin-left: 225px;
    margin-right: 225px;
    
}
.logos img{
    width: 80px;
    height: 50px;
    padding: 30px;
}
.influence .logos{
    align-items: center;
}

/* POPULAR COLLECTION----------
--- */
.collection-store{
    width: 1047px;
    align-items: center;
    margin-left: 144px;
}
.collections{
    display:grid;
    grid-template-columns: repeat(3, 2fr);
}

.collection-title{
    color: #3A3A3A;
    text-align: center;
    margin-top: 100px;
    margin-left: 115px;
    font-size: 30px;
    font-weight: 600;
}
.product{
    width: 329px;
    height: 476px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-top: 17px;
    padding-left: 14px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin: 15px;
    box-shadow:0px 0px 40px 0px rgb(230, 230, 230);
}
.product-info p{
    color: #FB8200;
}
.rating{
    color: #5E6366;
    margin-bottom: 5px;
}
.product-info .service{
    color: #787885;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}
.product-info .price {
    margin: 5px 5px 5px 0;
    font-size: 20px;
    color:#3A3A3A ;
}
.product .product-name{
    margin: 20px 10px 10px 0px ;
    color:#3A3A3A ;
}

/* FOOTER ----------
---------------
------------
 */

 footer{
     background-color: #0A0826;
     width: 100%;
     height: 260px;
     color: white;
     text-align: center;
 }
 .footer-title{
     padding-top: 50px;
     font-size: 30px;
     font-weight: 500;
 }

 .footer-logo{
     margin: 10px;
     color: white;
     background-color: rgb(85, 85, 85);
     padding: 6px 10px 6px 10px;
     border-radius: 20px;
 }

/* MEDIA QUEARY-----------
------------
-------------------------- */

@media only screen and (max-width:688px) {
    .container{
       width: 688px;
    }
    .influence{
        margin: 0px 0px 0px 100px;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        grid-row-gap: 150px;

    }
    .planing{
        font-size: 14px;
        width: fit-content;
    }
    .page-title{
        width: 688px;
        font-size: 4px;
        width: fit-content;
    }
    .collections{
        display:grid;
        grid-template-columns: repeat(1, 2fr);
    }
    .collection-title{
        margin: 5px 5px 5px 20px;
        width: fit-content;
    }
    .camara img{
        width: 302px;
        height: 290px;
        margin-left: 0px 50px 0px 200px;
    }
    .camara{
        width: fit-content;

    }
}