body{
    font-family: 'Poppins', sans-serif;
}

/* influencer------------------
------------------- */
main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #AAAAAA;
}

.container{
    width: 1440px;
    background-color: #f3f3f3;
}
.page-title{
    margin-left: 120px;
    margin-top: 70px;
    color: #3A3A3A;
}
.influence{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 205px;
    align-items: center;
    justify-content: center;
}
.planing{
    width: 582px;
    height: 270px;
    color: #3A3A3A;
    margin-left: 120px;
}
.planing h1{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 12px;
}
.planing p{
    font-size: 16px;
    font-weight: 600;
}
.planing .button{
    background-color: #E02C6D;
    color: aliceblue;
    padding: 8px 24px 8px 24px;
    border-radius: 20px;
    width: 140px;
    font-weight: 500;
}
.camara img{
    margin-top: 67px;
    width: 440px;
    height: 414px;
    /* display: none; */
}
.logos{
    border: 1px #dddddd solid;
    margin-top: 100px;
    margin-left: 225px;
    margin-right: 225px;
    
}
.logos img{
    width: 80px;
    height: 50px;
    padding: 30px;
}
.influence .logos{
    align-items: center;
}
